@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our currency converter page</h1>
    <p>
        <img src="https://acegif.com/wp-content/uploads/gifs/raining-money-6.gif" alt="funny animation GIF"/>
        
    </p>
</div>

